# Virtual environment
venv/
__pycache__/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional if too large)
data/*.csv
outputs/

data_cache/
*.geojson
*.csv
*.parquet